---
import BasePage from "../layouts/BasePage.astro";
import CustomLink from "../components/CustomLink.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);

---

<BasePage>
	<div
		class="sm:mt-20 block mx-auto max-w-[700px] text-wrap md:px-0 px-4"
	>
		<div class="my-8 sm:my-12">
			<h1 class="text-5xl sm:text-6xl mb-6 font-bold tracking-tight">Sam Baumohl</h1>
			<p class="mb-3">Hi there, I'm Sam! I'm an incoming software engineer at <a href="https://www.netflix.com" target="_blank" rel="noopener noreferrer" class="underline">Netflix</a>. I care about making good software, making AI go well, and generally all things computer.</p>

			<p>I previously interned at both Netflix and <a href="https://www.thomsonreuters.com/en" target="_blank" rel="noopener noreferrer" class="underline">Thomson Reuters</a>, and I studied Computer Science at the <a href="https://www.wisc.edu/" target="_blank" rel="noopener noreferrer" class="underline">University of Wisconsin-Madison</a>, where I graduated with Comprehensive Honors. I've helped organize large Hackathons and an <a href="https://cdis.wisc.edu/ai-meets-society-symposium-2026/" target="_blank" rel="noopener noreferrer" class="underline">AI Safety Symposium</a> with the <a href="https://waisi.org/" target="_blank" rel="noopener noreferrer" class="underline">Wisconsin AI Safety Initiative</a>. I am an Eagle Scout who grew up in Saint Louis, Missouri, and I now reside in the Bay Area. I like solving problems, both analog and digital, the gym, math, reading, personalized computing, F1, and the <a href="https://en.wikipedia.org/wiki/St._Louis_Cardinals" target="_blank" rel="noopener noreferrer" class="underline">Saint Louis Cardinals</a>. I like to work on side projects and write, and I will occasionally post some of that here. 
			</p>
		</div>
		<h2 class="text-3xl sm:text-4xl mb-6 font-bold tracking-tight sm:mt-12 mt-8">My Ramblings</h2>
		<section class="flex flex-col gap-2 mb-16">
			{
				posts.reverse().map((post, _) => (
					<a href={`/blog/${post.id}/`} class="hover:underline hover:text-darker-700" data-astro-prefetch="hover">
						<FormattedDate date={post.data.pubDate} /> &middot; {post.data.title} ~ {post.data.description}
					</a>
				))
			}
		</section>
		<!-- <h2 class="text-3xl sm:text-4xl mb-6 font-bold tracking-tight sm:mt-12 mt-8">Other Things</h2> -->
	</div>
	
</BasePage>

