---
import { NAME } from "../consts";
const today = new Date();

---

<footer class="font-semibold mt-12 px-4 py-8 text-center border-t border-darker-200">

	<div class="text-darker-600">
		&copy; {today.getFullYear()}
		{" " + NAME}. All rights reserved. All views expressed are my own.
	</div>
</footer>
